/* Default full size */
.banner-img {
  width: 1600px;
}
.card-img {
  position: absolute;
  z-index: 20;
  width: 450px;
}
@media (max-width: 1600px) and (min-width: 1451px) {
  .banner-img {
    width: 1400px;
  }
  .card-img {
    width: 400px;
  }
}

@media (max-width: 1450px) and (min-width: 1200px) {
  .banner-img {
    width: 1200px;
  }
  .card-img {
    width: 400px;
  }
}

@media (max-width: 1199px) and (min-width: 800px) {
  .banner-img {
    width: 800px;
  }
  .card-img {
    width: 350px;
  }
}
@media (max-width: 799px) and (min-width: 500px) {
  .banner-img {
    width: 495px;
  }
  .card-img {
    width: 300px;
  }
}


@media (max-width: 499px) {
  .banner-img {
    width: 330px;
    height: 800px;
   
  }
  .card-img {
    width: 250px;
  }
   /* Text ko neeche shift karne ke liye */
  .banner-text-mobile {
    justify-content: flex-end !important; /* center ki jagah neeche */
    padding-bottom: 30px; /* thoda space neeche se */
  }
}
